<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Tags</h1>
    <section class="tags">
    <% tags.forEach( el => { %>
      <div class='tag' data-id='<%=el._id%>'>
        <div class='tagDisplayContainer' data-id='<%=el._id%>'>
          <i class="fa-solid fa-tag"></i><span class='tagDisplay' data-id='<%=el._id%>'><%= el.tag %></span><i class="fa-solid fa-pencil edit-tag" data-id='<%=el._id%>'></i><i class="fa-solid fa-xmark delete-tag" data-id='<%=el._id%>'></i>
        </div>
        <div class='tagEditContainer hidden' data-id='<%= el._id %>'>
          <input type='text' value='<%= el.tag %>' name='tag' class='edit-tag' data-id='<%= el._id %>'><i class='fa-solid fa-check save-edit'></i><i class='fa-solid fa-x cancel-edit'></i>
        </div>
      </div>
    <% }) %>
    </section>

    <form action="/tags/createTags" method='POST'>
        <input type="text" placeholder="Enter New Tags, Comma Separated" name='tags'>
        <input type="submit">
    </form>

    <a href="/todos">Back to Todo List</a>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
    <script src="js/tags.js"></script>
</body>
</html>