<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/c3157a1ff1.js" crossorigin="anonymous"></script>
  <title>Todos</title>
</head>

<body>
  <button class="dark-mode-btn" onclick="darkMode()">Toggle dark mode</button>
  <div class="todo">
    <h1><%= user.userName[0].toUpperCase() + user.userName.slice(1) %>'s Todos</h1>
  </div>
  <div class="todoList">
    <ul>
      <% todos.forEach( el => { %>
      <li class='todoItem' data-id='<%=el._id%>'>
        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
        <span class="createdDate">Created: <%= el.createdAt.toLocaleDateString('en-gb') %> </span>
        <span class="dueDate">Due: <%= el.dueDate.toLocaleDateString('en-gb') %> </span>
        <p class="todoDetails"><%= el.todoDetails %> </p>
        <section id='tags' class="tags">
          <% if (el.tags?.length) { %>
            <% el.tags.sort((a,b) => a.tag.localeCompare(b.tag)).forEach( (el) => { %>
              <%- include('partials/tag.ejs', {tag: el, display: { editable: false, deletable: false}}) %>
            <% }) %>
          <% } %>
        </section>
        <section class="subTask" data-id=<%= el._id %>>
          <ul>
            <% el.subTasks.forEach( el => { %>
            <li><%= el %> </li>
            <% }) %>
          </ul>
        </section>
        <a href='/todos/edit/<%=el._id %>'><span class='edit'>Edit</span></a>
        <span class='del'> <i class="fa-regular fa-trash-can"></i> </span>
      </li>
      <% }) %>
    </ul>
  </div>
  <div class="userNumber">
    <h2><%= user.userName[0].toUpperCase() + user.userName.slice(1) %> has <%= left %> things left to do.</h2>
  </div>
  <div class="addTodo" name="addTodoItem">
    <form action="/todos/createTodo" method='POST'>
      <input type="text" placeholder="Enter Todo Item" name='todoItem'>
      <textarea name="todoDetails" id="todoDetails" cols="30" rows="10" placeholder="Enter todo details (optional)"></textarea>
      <div class="addSubTask">
        <input type="text" placeholder="Add subtask" name="subTasks">
        <i id="addSubTaskBtn" class="fa-duotone fa-plus"></i>
      </div>
      <input type="datetime-local" name="dueDate">
      <input type="text" placeholder="Enter Tags, Comma Separated" name='tags'>
      <input type="submit">
    </form>
  </div>
  <a id="logoutButton" class="button" href="/logout">Logout</a>

  <script src="js/main.js"></script>
  <script src="js/tags.js"></script>
</body>

</html>