<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/c3157a1ff1.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Todos</title>
</head>

<body>
  <div class="navButtons">
    <a class="dark-mode-btn" onclick="darkMode()"><i class="fa-solid fa-circle-half-stroke"></i></a>
    <a href="/"><i class="fa-solid fa-house"></i></a>
  </div>
  <div class="todo">
    <h1><%= user.userName[0].toUpperCase() + user.userName.slice(1) %>'s Todos</h1>
    <div class="todoList">
      <div class="userNumber">
        <h2><%= user.userName[0].toUpperCase() + user.userName.slice(1) %> has <%= left === 0 ? 'nothing' : left === 1 ? '1 thing' : `${left} things`  %> left to do.</h2>
      </div>
      <ul>
        <% todos.forEach( el => { %>
        <li class='todoItem' data-id='<%=el._id%>'>
          <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
          <span class="createdDate">Created: <%= el.createdAt.toLocaleDateString('en-us') %> </span>
          <span class="dueDate">Due: <%= el.dueDate.toLocaleDateString('en-us') %> </span>
          <div>
          <% if (el.todoDetails) { %>
          <span class="detailsBtn">Details
					<i class="fas fa-arrow-down toggleDetails" name="toggleDetails"  data="<%= el._id  %>"></i>
					</span>
          <% } %>
          <p class="todoDetails"><%= el.todoDetails %> </p>
          
          <% if (el.tags?.length) { %>
          <section class="tags" data-todo-id='<%= el._id %>'>
            <% el.tags.sort((a,b) => a.tag.localeCompare(b.tag)).forEach( (el) => { %>
            <%- include('partials/tag.ejs', {tag: el, display: { editable: false, deletable: false}}) %>
            <% }) %>
          </section>
          <% } %>
          <section class="subTask" data-id=<%= el._id %>>
            <ul>
              <% el.subTasks.forEach( el => { %>
              <li><%= el %> </li>
              <% }) %>
            </ul>
          </section>
          <section class="buttonContainer">
            
            <a href='/todos/edit/<%=el._id %>'><span class='edit'>Edit</span></a>
            <span class='del'> <i class="fa-regular fa-trash-can"></i> </span>
          </section>
        </li>
        <% }) %>
      </ul>
    </div>
    <div class="addTodo" name="addTodoItem">
      <form action="/todos/createTodo" method='POST' name="todoForm" onsubmit='return validateForm()'>
        <input type="text" id='todoItem' placeholder='Enter Todo Item' name='todoItem'>
        <textarea name="todoDetails" id="todoDetails" cols="30" rows="10" placeholder="Enter todo details (optional)"></textarea>
        <div class="addSubTask">
          <div class="subTaskItem">
            <input type="text" placeholder="Add subtask" name="subTasks">
            <i class="fa-solid fa-minus delSubTaskBtn" onclick="delSubTask(this)"></i>
          </div>
        </div>
        <div>
          <i id="addSubTaskBtn" class="fa-plus addSubTaskBtn">Additional Subtask</i>
        </div>
        <input type="datetime-local" id="dueDate" name="dueDate">
        <input type="text" placeholder="Enter Tags, Comma Separated" name='tags'>
        <button type="submit" class="todoSubmit">Submit</button>
      </form>
    </div>
    <a id="logoutButton" class="button" href="/logout">Logout</a>

  <script src="/js/main.js"></script>
  <script src="/js/tags.js"></script>
  <script src="/js/form.js"></script>
  </div>

  <a id="logoutButton" class="bn29" href="/logout">Logout</a>

  <script src="js/main.js"></script>
  <script src="js/tags.js"></script>
</div>


</body>

</html>