<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="todo">
        <h1><%= user.userName[0].toUpperCase() + user.userName.slice(1) %>'s Todos</h1>
    </div>
    <div class="todoList">
        <ul>
        <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
								<span class="createdDate">Created: <%= el.createdAt.toLocaleDateString('en-gb') %> </span>
								<span class="dueDate">Due: <%= el.dueDate.toLocaleDateString('en-gb') %> </span>
                <span class='del'> Delete </span>
            </li>
        <% }) %>   
    
        </ul>
    </div>
    <div class="userNumber">
        <h2><%= user.userName[0].toUpperCase() + user.userName.slice(1) %> has <%= left %> things left to do.</h2>
    </div>
    <div class="addTodo" name="addTodoItem">
        <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
				<input type="datetime-local" name="dueDate">
        <input type="submit">
        </form>
    </div>
        <a id="logoutButton" class="button" href="/logout">Logout</a>
    
    <script src="js/main.js"></script>
</body>
</html>